body{
    /* background-image:image(); */
    background-color: #FFECEC;
}
.card{
    /* border: 2px solid #000; */
    padding: 20px;
    margin: 25px;
    width: 320px;
    border-radius: 15px;
    box-shadow: violet;
    background-color: #ffee00;
}

.card-img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card h2{
    background-color: #fde2e4;
    padding: 5px;
    border-style: gr;
    border-radius: 50px;
    text-align: left;
}

.card p{
    padding: 10px;
    border-radius: 10px;
}

.card-button{
    background-color: #0000008b;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow:  3px 3px 5px #00000086;
}

.flex-card{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.card:hover{
    animation-name: card-animation;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    cursor: auto;
}

@keyframes card-animation {
    100%{
        background-color: #f72585;
        transform: rotate(-2deg);
        text-shadow: #000;
        box-shadow:  10px 10px #00000086;
        /* text-decoration: underline; */
    }
}

.card-button:hover{
    animation-name: card-button-animation;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-duration: 500ms;
    cursor: pointer;
}

@keyframes card-button-animation {
    100%{
        background-color: #000;
        transform: rotate(3deg);
        text-shadow: #000;
        box-shadow:  10px 10px 2px #00000086;
        /* text-decoration: underline; */
    }
}

@media (max-width:500px){
    .flex-card{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
    .card{
        /* border: 2px solid #000; */
        padding: 20px;
        margin: 25px;
        /* width: 100vh; */
        border-radius: 15px;
        box-shadow: violet;
        background-color: #9a9776;
    }
    .card:hover{
        animation: none;
        cursor:auto;
    }
    .card-button:hover{
        animation: none;
        zoom: normal;
    }
}

.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}

.grid-content-flex{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    padding-top: 10px;
}
.grid-content-flex p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #b52376;
}
.grid-content-flex h1{
    /* font-family: 'Bree Serif', serif; */
    font-family: 'Cardo', serif;
    font-size: 70px;
    color: #4f1b38;
}
.grid-card{
    padding: 20px;
    margin: 25px;
    height: 80%;
    border-radius: 15px;
    box-shadow: violet;
    background-color: #FFBDF7;
}

#project-page>h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #b52376;
    text-align: center; 
    font-weight: 100;   
}